button {
  height: 50px;
  width: 50px;

}
p {
  font-size: xx-large;
}
.cdk-overlay-container {
  size: 100px;
  border: black;
  background-color: beige;
  align-content: center;
}
.mat-card {
  width: 600px;
  size: auto;
  text-align: center;

}
//.example-container {
//  display: flex;
//  flex-direction: column;
//}
//.example-container > input {
//  display: block;
//}
//.example-container > * {
//  width: 100%;
//  text-alignt: center;
//}
